<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title> {{ title }}</title>
  </head>
  <body style="background-color:rgb(29, 29, 29);">  
      <div style="background-color: black;height: 50px;"> dd</div>
      <div class="container" style="background-color: rgb(189, 189, 189);height:100%; margin:5%">
        <h1 style="margin: 10px;background-color:rgb(95, 95, 95);text-justify: center;color: whitesmoke;text-align: center;">The Window Manager</h1>    
        <br>
        {% block content %}{% endblock content%}
      </div>
      <div style="background-color: black;height: 50px;width:100%;position:fixed;bottom:0;" > dd</div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </body>
</html>